/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: Avant Garde, Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: #ff8000;
    padding: 0 10px 0 10px;
}

header div {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: #ff8000;
    justify-self: start;
    align-self: center;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;  
}

header div img {
    max-height: 28px;
    width: auto;
    margin-right: auto;
}

.menu {
    grid-column-start: 3;
    grid-row-start: 1;
    align-self: center;
    color: #fff;
    font-weight: 400;
    font-size: 21px;
    background: transparent;
    border: none;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-right: 1.25em;
}

section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 50px;
    grid-column-gap: 10px;
    grid-row-gap: 15px 5px;
    background-color: #ff8000;
    padding: 0 10px 0 10px;
}

section h1 {
    grid-column-start: 1;
    grid-row-start: 1;
    color: #fff;
    font-size: 36px;
    text-align: center;
    line-height: 1;
    margin-top: 0.6em;
}

section h2 {
    grid-column-start: 1;
    grid-row-start: 2;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

section:nth-of-type(2) {
    background-color: #ff8000;
    padding: 0 10px 0 10px;
}

section form {
    width: 100%;
    background-color: #ff8000;
    max-width: 25em;
    justify-self: center;
    align-self: center;
    margin: auto;
}

section form input {
    font-weight: 400;
    background-color: #fff;
    font-size: 15px;
    width: 77.05%;
    height: 3rem;
    border-radius: 2px 0 0 2px;
    border: 5px black;
    box-shadow: inset 0 0 2px black;
    padding: 0 1rem 0 2.7rem;
    max-width: 77.05%;
}

section form button {
    float: right;
    font-weight: 600;
    height: 3rem;
    text-align: center;
    font-size: 1rem;
    background-color: #1574f5;
    color: #fff;
    border-radius: 2px 0 0 2px;
    padding: 0 21px;
    border: 1px solid #1574f5;
    z-index: 100;
    width: 22.95%;
    max-width: 22.95%;
}

.locationicon {
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 20px;
    margin-left: 3%;
    opacity: 0.5;
    top: -2em;
}

section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20px;
    height: 50vh;
}

section > div:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 10vw;
    overflow: hidden;
    background-color: #ff8000;
    border: solid 2em #ff8000;
    clip-path: polygon(0 0, 0 100%, 100% 0, 100% 0);
    z-index: 80;
    margin-top: -0.05em;
    
}

.hamburger {
    grid-column-start: 1;
    grid-row-start: 1;
    justify-content: center;
    z-index: 70;
    background-image: url("../images/burgers_desktop.jpg");
    background-size: cover;
    height: 50vh;
    background-position-y: 50%;
}

section:nth-of-type(4) {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px;
    padding: 0 10px 0 10px;
    margin-top: 2em;
}

.eersteh3 {
    grid-column-start: 1;
    grid-row-start: 1;
    color: #0a3847;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: lighter;
}

section h4 {
    grid-column-start: 1;
    grid-row-start: 2;
    font-weight: 600;
    color: #ff8000;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: -0.2em;
}

section:nth-of-type(5) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px;
    padding: 0 10px 0 10px;
}

section h5 {
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: 600;
    position: relative;
    display: block;
    margin: 8px 0 16px;
    color: #0a3847;
    font-size: 18px;
    text-align: center;
}

.AdresP {
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 14px;
    text-align: center;
    color: grey;
}

span:nth-of-type(1) {
    align-items: center;
}

section:nth-of-type(6) {
    display: grid;
    grid-template-columns: 10% 10% 10%;
    grid-template-rows: 50px;
    padding: 0 10px 0 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.navrondje:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: center;
    background: #ff8000;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    font-size: 15px;
    width: 20px;
    height: 20px;
}

.navrondje:nth-of-type(2) {
    grid-column-start: 2;
    grid-row-start: 1;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #cfcac4;
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.navrondje:nth-of-type(3) {
    grid-column-start: 3;
    grid-row-start: 1;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #cfcac4;
    font-size: 15px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.carousel-container {
    width: 20vh;
    min-width: 25vh;
    max-width: 20vh;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    margin: auto;
}

.poepies {
    width: 100%;
    height: 100%;
    margin: auto;
}

.poepies1 {
    width: 100%;
    height: 100%;
    margin: auto;
}

.poepies2 {
    width: 100%;
    height: 100%;
    margin: auto;
}

.poepies3 {
    width: 100%;
    height: 100%;
    margin: auto;
}

.poepies4 {
    width: 100%;
    height: 100%;
    margin: auto;
}

#prevBtn {
    position: relative;
    top: -15%;
    z-index: 10;
    left: -0.5%;
    max-width: 10%;
    color: darkgray;
    cursor: pointer;
    background: transparent;
    border: none;
}

#nextBtn {
    position: relative;
    top: -15%;
    z-index: 10;
    left: 80%;
    max-width: 10%;
    color: darkgray;
    cursor: pointer;
    background: transparent;
    border: none;
}

#prevBtn img {
    width: 30%;
    max-width: 31%;
}

#nextBtn img {
    width: 30%;
    max-width: 31%;
}

section:nth-of-type(7) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 50px 50px 50px;
    background-color: #ff8000;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 60%;
    padding: 60px 30px;
}

.tweedeh3 {
    background: #261e1e;
    box-shadow: 16px 0 0 #261e1e, -16px 0 0 #261e1e;
    color: #fff;
    padding: 8px 0;
    font-weight: 400;
    margin: 0 0 10px 16px;
    text-align: left;
    width: 8em;
    font-size: 21px;
}

.derdeh3 {
    background: #261e1e;
    box-shadow: 16px 0 0 #261e1e, -16px 0 0 #261e1e;
    color: #fff;
    padding: 8px 0;
    font-weight: 400;
    margin: 0 0 10px 16px;
    text-align: left;
    width: 10.5em;
    font-size: 21px;
}

.android {
    margin-bottom: 5px;
}

.ios {
    margin-bottom: 5px;
}

.mobielvoorbeeld {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    padding-left: 50px;
    min-width: 220px;
    max-width: 400px;
}

@media (min-width: 1005px) {

    section:nth-of-type(7) {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 80px 80px 80px;
        background-color: #ff8000;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 60px 30px;
    }

    .android {
        width: 30vh;
        margin-left: 60px;
    }

    .ios {
        width: 30vh;
        margin-left: 60px;
    }

    .tweedeh3 {
        background: #261e1e;
        box-shadow: 16px 0 0 #261e1e, -16px 0 0 #261e1e;
        color: #fff;
        padding: 8px 0;
        font-weight: 400;
        margin: 0 0 10px 75px;
        text-align: left;
        width: 8em;
        font-size: 40px;
    }

    .derdeh3 {
        background: #261e1e;
        box-shadow: 16px 0 0 #261e1e, -16px 0 0 #261e1e;
        color: #fff;
        padding: 8px 0;
        font-weight: 400;
        margin: 0 0 10px 75px;
        text-align: left;
        width: 10.5em;
        font-size: 40px;
    }
}

section:nth-of-type(8) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 30px 200px;
    margin: 80px auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.vierdeh3 {
    grid-column-start: 1;
    grid-row-start: 1;
    font-weight: 100;
    color: #0a3847;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    font-family: Takeaway Sans,Avant Garde,Century Gothic,Helvetica,Arial,sans-serif;
    padding: 0 2em 0;
}

.blog {
    grid-column-start: 1;
    grid-row-start: 2;
    cursor: pointer;
    outline: 0;
    color: #1574f5;
    text-decoration: none;
    margin-top: 5em;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: center;
}

.desktopvoorbeeld {
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 5em auto 0;
    max-width: 300px;
    width: 100%;
}

@media (min-width: 920px) {
    section:nth-of-type(8) {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 10%;
        justify-items: center;
        align-items: center;
        justify-content: center;
        padding: 10px 100px;
        margin: 10px auto;
    }

    .vierdeh3 {
        grid-column-start: 1;
        grid-row-start: 1;
        font-weight: 100;
        color: #0a3847;
        font-size: 1.4rem;
        line-height: 1.6rem;
        text-align: left;
    }

    .blog {
        grid-column-start: 1;
        grid-row-start: 2;
        cursor: pointer;
        outline: 0;
        color: #1574f5;
        text-decoration: none;
        font-size: 13px;
        font-weight: 100;
        letter-spacing: 0.5px;
        width: 100%;
        text-align: left;
        margin-top: -2em;
        padding-left: 3em;
    }

    .desktopvoorbeeld {
        grid-column-start: 2;
        grid-row-start: 2;
        max-width: 500px;
        width: 100%;
        margin-top: -2em;
    }
}

footer {
    margin: 0 auto;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 40px;
    padding-bottom: 1em;
    background-color: #0a3847;
}

.footerlogo {
    vertical-align: middle;
    height: 100%;
    display: block;
    margin: auto;
    width: 85%;
    max-width: 330px;
}

.volgons {
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    text-align: center;
    padding-top: 3em;
}

ul {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 100%;
    list-style-type: none;
    text-align: center;
    margin-top: 3em;
    align-items: center;
    justify-content: center;
}

li {
    display: inline;
    text-align: center;
    margin: 0 0 3px 0;
}

.facebooklogo {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 35px;
}

.twitterlogo {
    grid-column-start: 2;
    grid-row-start: 1;
    width: 30px;
}

.youtubelogo {
    grid-column-start: 3;
    grid-row-start: 1;
    width: 35px;
}

.bloglogo {
    grid-column-start: 4;
    grid-row-start: 1;
    width: 35px;
}

.buttoncontainer {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 6em;
}

.footerbutton1 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown1 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.footerbutton2 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown2 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.footerbutton3 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown3 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.footerbutton4 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown4 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.footerbutton5 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown5 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.footerbutton6 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown6 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.footerbutton7 {
    grid-column-start: 1;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    justify-self: start;
    margin-bottom: 2em;
}

.arrowdown7 {
    grid-column-start: 2;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #fff;
    position: relative;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration: none;
    justify-self: end;
    margin-top: -0.2em;
}

.etenbestellen {
    font-weight: 700;
    letter-spacing: 0.3px;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    border: none;
    text-decoration-line: underline;
    margin: auto;
}

@media (min-width: 100px) {
    .etenbestellen {
        letter-spacing: 0.3px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.3rem;
        color: #fff;
        white-space: nowrap;
        cursor: pointer;
        background: transparent;
        border: none;
        text-decoration-line: underline;
        margin: auto auto auto -2em;
    }
}

@media (min-width: 600px) {
    header div img {
        content: url("../images/logo.svg")
    }
    .etenbestellen {
        letter-spacing: 0.3px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.3rem;
        color: #fff;
        white-space: nowrap;
        cursor: pointer;
        background: transparent;
        border: none;
        text-decoration-line: underline;
        margin: auto;
    }
}

.sectieaanbevelen {
    background-color: white;
}